{% load django_bootstrap5 %}
{% load bootstrap_icons %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Online</title>
{% bootstrap_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
<script>
    
</script>

</head>
<div class="container">

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                Sistema Online</a>
            <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#menu"
                aria-controls="menu" aria-expanded="false"
                aria-label="Toggle navigation">
            <span>Menu</span>
            </button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="list-item">
                        <a href="{% url 'listar_alunos' %}"
                            class="nav-link">Alunos</a>
                    </li>
                    <li class="list-item">
                        <a href="{% url 'listar_cursos' %}" class="nav-link">Cursos</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="nav-link">Turmas</a>
                    </li>

                </ul>
            </div>
        </div>    
    </nav>
                                    
<body>
    
    {% block content %}
    {% endblock %}
</div>
<div class="modal fade" id="telaAviso" tabindex="-1" role="dialog"
aria-labelledby="telaAvisoLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Exclusão</h4>
        </div>
        <form id ="modalform">
            <div class ="modal-body">
                <label>Deseja Excluir?</label>
            </div>
            <div class="modal-header">
                <button type ="button" class ="btn btn-secondary"
                data-dismiss="modal"
                onclick="fechartela()">cancelar</button>
                <button type ="button" class ="btn btn-danger"
                data-dismiss="modal"
                onclick="excluir()">Excluir</button>
                {% csrf_token %}
            </div>
        </form>
       
    </div>
</div>
</div>

<script>
caminho = "";
var telaAviso = document.getElementById("telaAviso");
function abrirTela(url){
    
    telaAviso.style.display = "block";
    telaAviso.className = "modal fade show";
    caminho = url;
}
function fechartela(){
    telaAviso.style.display="none";
    telaAviso.className ="modal fade";
}
function excluir(){
    window.location = caminho;
    fecharTela();
}
</script>


      

      </div>  
      </div>

</body>
{% bootstrap_javascript %}

</html>